.main-container {
  /* margin: 5rem; */
  /* padding: 1rem; */
}
.legend-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.legend-item {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-wall {
  margin: 1rem;
  border: 1px solid #5bc9b1;
  width: 25px;
  height: 25px;
  background-color: black;
}

.legend-path {
  margin: 1rem;
  border: 1px solid #5bc9b1;
  width: 25px;
  height: 25px;
  background-color: lime;
}
.button-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.path-button {
}

td {
  border: 1px solid mediumslateblue;
  width: 25px;
  height: 25px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table {
  margin: 1rem;
  background-color: black;
  padding: 1rem;
  border-radius: 5px;
}
.node_start {
  /* background: url("../assets/space-ship.svg"); */
  background-size: cover;
}
.node_end {
  /* background: url("../assets/planet.svg"); */
  background-size: cover;
}
.node_wall {
  /* background: url("../assets/asteroid.svg"); */
  animation: pulse 0.5s 1;
  background-color: tomato;
  border: 1px solid tomato;
}

@keyframes pulse {
  0% {
    background-color: grey;
  }
  100% {
    background-color: #202220;
  }
}
.node_visited {
  /* background-color: lightseagreen; */
  background-color: mediumslateblue;
  animation-name: visited;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes visited {
  0% {
    transform: scale(0.3);
    background-color: rgba(251, 0, 255, 0.764);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(251, 0, 255, 0.764);
  }

  75% {
    transform: scale(1.2);
    background-color: mediumslateblue;
  }

  100% {
    transform: scale(1);
    background-color: mediumslateblue;
  }
}
.node_path {
  background-color: greenyellow;
  animation-name: path_anime;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes path_anime {
  0% {
    transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 #343a40;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(130, 90, 164, 0);
  }
}
