.sort-container {
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar-container {
  width: 95%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.button-container {
  width: 95%;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.bar {
  /* color: black; */
  border: solid 1px mediumslateblue;
  width: 2rem;
  margin: 0.25rem;
  padding-top: 0.25rem;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 700;
  font-size: small;
}

:root {
  /* --default-bar: #0ecbf6; */
  --index-bar: red;
  --sorted-bar: lime;
  --min-bar: yellow;
  --pivot-bar: yellow;
  --test-bar: purple;
}
