.container {
  background-color: mediumpurple;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: rebeccapurple;
  justify-content: center;
  align-items: baseline;
  /* transition: all ease 0.5s; */
}

.element {
  width: 0.5rem;
  margin: 1px;
  text-align: center;
}
