* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Brush Script MT", cursive;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
